/**********************************/
/* ---------- COMMENTS ---------- */
/**********************************/
#comments					{ padding-top: 20px; }
#respond            				{ padding-bottom: 10px; padding-top: 0px; }
#respond h3         				{ font-size: 18px; font-weight: normal; padding-top: 20px; padding-bottom: 0px; margin: 0px; }
#respond #cancel-comment-reply-link		{ display: block; text-align: right; font-size: 11px; text-decoration: none; padding: 5px 0px 0px 0px; }
#respond #cancel-comment-reply-link 		{ background: url('../images/line_95-45.png') top left repeat-x; }
#respond				 	{ background: url('../images/line_95-45.png') top left repeat-x; }

#respond h3 small		{ text-align: right; }
#respond p          		{ clear: both; line-height: 22px; padding-bottom: 5px; }
#respond p.form-submit		{ padding-top: 10px; }  
#respond label      		{ margin: 0px; padding: 0px 0px 0px 0px; width: 1%; }
#respond form			{ padding-top: 10px; }
#respond p.logged-in-as		{ padding-bottom: 10px; }

#respond #author,
#respond #email,
#respond #url       		{ border: 1px solid #A0A0A0; color: #333333; display: block; float: left !important; font-family: arial; font-size: 12px; margin: 0 10px 0 0; padding: 3px 4px; width: 150px; }
#respond #comment   		{ border: 1px solid #A0A0A0; color: #333333; display: block; font-family: 'Arial', sans-serif; font-size: 12px; height: 100px; margin: 0; padding: 4px; width: 90%; }
#respond #submit    		{ color: #333333; background: url('../images/bck_95-16.png'); border-width: 0px; cursor:pointer; display:block; font-family:arial; font-size:11px; font-weight: bold; padding:2px 12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.dark #respond #submit    	{ color: #FFFFFF; }
#respond #submit:hover		{ color: #32B6D9; }
#respond .required		{font-weight: bold; color: #FF0000 !important; }

#respond .comment-notes              	{ display: none; }
#respond .form-allowed-tags          	{ display: none; }
#respond .comment-form-comment label 	{ display: none; }

ol.commentlist                          { list-style: none outside none; padding-left: 0px !important; padding-bottom: 10px !important; padding-top: 10px; }
ol.commentlist ul                       { padding-left: 57px !important; padding-bottom: 0px !important; }
ol.commentlist li                       { list-style-type: none !important; clear: both; padding-bottom: 0px !important; }
ol.commentlist li div                   { /*position: relative; */}
ol.commentlist li div:hover .reply      { display: block; }
ol.commentlist .comment-edit-link       { color: #ff0000 !important; font-weight: bold; }
ol.commentlist .comment-author          { clear: both; }
ol.commentlist .comment-author img      { display: block; float: left; margin: -3px 10px 0px 0px; background: #FFFFFF; padding: 2px; border: 1px solid #CECECE; }
ol.commentlist .comment-author .fn      { font-size: 16px; font-style: normal; font-weight: bold; }
ol.commentlist .comment-author .fn a		{ color: #333333; text-decoration: none; }
.dark ol.commentlist .comment-author .fn a	{ color: #FFFFFF; }
ol.commentlist .comment-author .fn a:hover	{ color: #32B6D9; text-decoration: none; }
ol.commentlist .comment-meta            { display: block; font-size: 11px; padding-top: 2px; }
ol.commentlist .comment-meta a          { text-decoration: none !important; }
ol.commentlist .comment-body            { clear: both; padding: 0px 0px 0px 57px; }
ol.commentlist .reply                   { display: none; float: right; }
ol.commentlist .reply a         	{ text-decoration: none !important; background: url('../images/bck_95-16.png'); color:#333333; display:block; font-family:arial; font-size:11px; font-weight: bold; padding: 2px 12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.dark ol.commentlist .reply a         	{ color:#ffffff; }
ol.commentlist .reply a:hover		{ color: #32B6D9;}
ol.commentlist #respond                 { padding-bottom: 20px; margin-left: 57px; background: none; }
ol.commentlist #respond h3		{ padding-top: 0px; }
ol.commentlist #respond .form-submit	{background: url('../images/line_95-45.png') bottom left repeat-x; padding-bottom: 20px; }

